<div class="container-fluid">
  <h2>All Pageviews
    <%= @allcount %></h2>
  <div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by URL ( All )
        </div>
        <div class="chart-stage">
          <%= bar_chart @each_url_data %>
        </div>
        <div class="chart-notes">
          This is a sample text region to describe this chart.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by browser ( All )
        </div>
        <div class="chart-stage">
          <%= pie_chart @each_browser_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by URL ( Day )
          <b><%= @daycount %></b>
        </div>
        <div class="chart-stage">
          <%= line_chart @day_each_url_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by browser ( Day )
        </div>
        <div class="chart-stage">
          <%= pie_chart @day_each_browser_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by URL ( Week )
          <b><%= @weekcount %></b>
        </div>
        <div class="chart-stage">
          <%= line_chart @week_each_url_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by browser ( Week )
        </div>
        <div class="chart-stage">
          <%= pie_chart @week_each_browser_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by URL ( Month )
          <b><%= @monthcount %></b>
        </div>
        <div class="chart-stage">
          <%= line_chart @month_each_url_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by browser ( Month )
        </div>
        <div class="chart-stage">
          <%= pie_chart @month_each_browser_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by device ( All )
        </div>
        <div class="chart-stage">
          <%= pie_chart @each_platform_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by device ( Day )
        </div>
        <div class="chart-stage">
          <%= pie_chart @day_platform_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by device ( Week )
        </div>
        <div class="chart-stage">
          <%= pie_chart @week_platform_data %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Notes go down here
        </div>
        <div class="chart-stage">
          <div class="dummy"></div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Pageviews by device ( Month )
        </div>
        <div class="chart-stage">
          <%= pie_chart @month_platform_data %>
          <div class="chart-notes">
            Notes go down here
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
