<!DOCTYPE html>
<html>
  <head>
    <title>PvApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "//code.highcharts.com/highcharts.js", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="application">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="../">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <%= link_to 'Dashboard PV_app', analytics_path ,class: "navbar-brand" %>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-left">
                <li><%= link_to 'Home', analytics_path %></li>
                <li><a href="#">Team</a></li>
                <li><%= link_to 'Source', 'https://github.com/gondodo/pv_app' %></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Technical Support</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </header>

    <%= yield %>

    <footer class="container-fluid">
      <hr>
      <p class="small text-muted">
        Built with &#9829; by <%= link_to 'gondodo', 'https://github.com/gondodo/pv_app' %> 2016
      </p>
    </footer>
  </body>
</html>
